body
  background-color: #f5f5f7
  transition: background-color 0.3s ease

  &.dark-mode
    background-color: #000000

main.grid-section
  display: grid
  grid-template-columns: repeat(4, 300px)
  grid-auto-rows: 300px
  gap: 20px
  grid-auto-flow: dense
  padding: 20px
  min-height: 100vh
  align-content: start
  justify-content: center

  @media (max-width: 1300px)
    grid-template-columns: repeat(2, 300px)

  @media (max-width: 630px)
    display: flex
    flex-direction: column

  .grid-block
    background-color: var(--primary-white-color)
    padding: 24px
    box-shadow: var(--primary-card-box-shadow)
    border-radius: var(--card-border-radius)
    overflow: hidden
    transition: background-color 0.3s ease, box-shadow 0.3s ease

    @media (max-width: 630px)
      height: fit-content
      min-height: 400px

    .dark-mode &
      background-color: #1c1c1e
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3)

  .grid-block.interactive
    cursor: pointer
    transition: box-shadow 0.3s cubic-bezier(0,0,.5,1), transform 0.3s cubic-bezier(0,0,.5,1)

  .grid-block.interactive:hover
    box-shadow: var(--hover-card-box-shadow)
    transform: var(--hover-card-scale)

  .summary
    grid-column: span 2
    grid-row: span 2
    display: flex
    flex-direction: column
    line-height: 2.5
    transition: color 0.3s ease

    .dark-mode &
      color: #fff

    .top-container
      flex: 1
      display: flex
      justify-content: space-between

      .emoji-container
        animation: rotate-emoji 5s infinite ease-in-out

      @keyframes rotate-emoji
        0%
          transform: rotate(-5deg)
        50%
          transform: rotate(5deg)
        100%
          transform: rotate(-5deg)

    .bottom-container
      flex: 1

    img.emoji-picture
      width: 220px
      height: 220px

  .simple-link
    grid-column: span 1
    grid-row: span 1
    display: flex
    justify-content: center
    align-items: center
    font-size: 96px
    position: relative
    @media (max-width: 630px)
      aspect-ratio: 1 / 1

    small
      font-weight: 900
      font-size: 16px
      position: absolute
      opacity: 0.5
      text-transform: uppercase

    small.bottom-title
      right: 24px
      bottom: 24px

    small.top-title
      left: 24px
      top: 24px

    .dark-mode &
      small
        color: rgba(255, 255, 255, 0.6)

  .simple-link.github
    color: var(--primary-white-color)
    background-color: var(--dark-gray-color)

  .simple-link.instagram
    color: var(--primary-white-color)
    background: radial-gradient(
      circle farthest-corner at 28% 100%,
    #fcdf8f 0%,
    #fbd377 10%,
    #fa8e37 22%,
    #f73344 35%,
      transparent 65%
    ), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%)

  .simple-link.linkedin
    color: var(--primary-white-color)
    background-color: var(--primary-blue-color)

  .simple-link.resume
    color: var(--primary-white-color)
    background-color: var(--primary-blue-color)

  .project
    display: flex
    hgroup
      margin-bottom: 20px
    .button-container
      display: flex
      align-items: center
      justify-content: center
    .title
      font-weight: 700
      line-height: 1
    .technologies-list
      font-weight: 700
      line-height: 1.75
      display: flex
      list-style: none
      gap: 12px
      font-size: 1.5rem
    .subtitle
      text-transform: uppercase
      font-weight: 900
      opacity: 0.5
      font-size: 0.75rem
    img.project-picture
      aspect-ratio: 1 / 1
      border-radius: 16px

    .dark-mode &
      .title
        color: #ffffff
      .subtitle
        color: rgba(255, 255, 255, 0.6)
      .technologies-list
        color: #ffffff

  .project.vertical
    grid-column: span 1
    grid-row: span 2
    flex-direction: column

    img.project-picture
      width: 100%
      margin-bottom: 12px

  .project.horizontal
    grid-column: span 2
    grid-row: span 1
    flex-direction: row
    justify-content: space-between
    gap: 12px

    img.project-picture
      height: 100%

  .certificate
    grid-column: span 1
    grid-row: span 2
    text-decoration: none
    color: unset

    .company-logo
      width: 100%

    .subtitle
      font-weight: 700
      opacity: 0.5

    hgroup
      margin-bottom: 12px

    .information-container
      margin-bottom: 32px

    img.certificate-picture
      width: 100%
      border-radius: 20px

    .dark-mode &
      color: #ffffff
      .subtitle
        color: rgba(255, 255, 255, 0.6)

  .location
    grid-column: span 2
    grid-row: span 2
    padding: 0
    position: relative

    @media (max-width: 630px)
      aspect-ratio: 1 / 1

    .face-picture-container
      width: 80px
      height: 80px
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

    .face-picture
      width: 100%
      height: 100%
      animation: rotate-face 5s infinite ease

      @keyframes rotate-face
        0%
          transform: rotate(-20deg)
        50%
          transform: rotate(20deg)
        100%
          transform: rotate(-20deg)

    .zoom-buttons
      position: absolute
      bottom: 0
      width: 100%
      display: flex
      justify-content: space-between
      padding: 24px

      button
        width: 36px
        height: 36px
        border-radius: 50%
        transition: all 0.3s cubic-bezier(0,0,.5,1)

      button.hidden
        opacity: 0
        cursor: default

  .theme-toggle-container
    display: flex
    justify-content: center
    align-items: center

    @media (max-width: 630px)
      aspect-ratio: 1 / 1

    .theme-toggle
      position: relative
      padding: 0 3px
      width: 70px
      height: 36px
      cursor: pointer
      background-color: #e9e9ea
      border-radius: 980px
      transition: background-color 0.3s ease

      .thumb
        position: absolute
        width: 31px
        height: 31px
        top: 50%
        left: 3px
        background-color: #fff
        border-radius: 50%
        transform: translateY(-50%)
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1)

    .dark-mode & .theme-toggle
      background-color: #30d158

      .thumb
        transform: translateY(-50%) translateX(34px)

  .technical-skills
    grid-column: span 2
    grid-row: span 1

    @media (max-width: 630px)
      aspect-ratio: 1 / 1

    h2
      position: relative
      margin-bottom: 24px
    h2::before
      content: ''
      position: absolute
      bottom: -2px
      width: 100%
      height: 2px
      background-color: rgba(0, 0, 0, 0.1)

    .dark-mode &
      h2
        color: #ffffff
      h2::before
        background-color: rgba(255, 255, 255, 0.15)
      .technical-skills-list
        color: #ffffff

    .technical-skills-list
      padding-left: 20px
      line-height: 2

      li
        margin-bottom: 12px

  .contact-information
    h2
      position: relative
      margin-bottom: 24px
    h2::before
      content: ''
      position: absolute
      bottom: -2px
      width: 100%
      height: 2px
      background-color: rgba(0, 0, 0, 0.1)

    .dark-mode &
      h2
        color: #ffffff
      h2::before
        background-color: rgba(255, 255, 255, 0.15)
      ul
        color: #ffffff

    @media (max-width: 630px)
      aspect-ratio: 1 / 1

    ul
      list-style-type: none
      line-height: 2
      margin-bottom: 32px

      li
        margin-bottom: 8px

.gradient-text-background
  background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600)
  -webkit-background-clip: text
  background-clip: text
  color: transparent
  -webkit-text-fill-color: transparent

  .dark-mode &
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600)
    -webkit-background-clip: text
    background-clip: text
    color: transparent
    -webkit-text-fill-color: transparent
